:root {
    --color-main: #ffff;
    --color-points:hsl(229, 25%, 31%);
    --color-score:hsl(229, 64%, 46%);
    --color-border:hsl(217, 16%, 45%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    background:radial-gradient(at top, hsl(214, 47%, 23%),hsl(237, 49%, 15%));
}
header {
border: solid 2px var(--color-border);
border-radius: 5px;
max-width: 800px;
margin: 48px auto;
padding: 12px 24px 12px 24px;
display: flex;
justify-content: space-between;
align-items: center;
}

h1 span {
    display: block;
    color: var(--color-main);
    line-height: 24px;

}
.score {
    background: var(--color-main);
    padding: 12px 42px;
    border-radius: 5px;
}

.score span {
    color: var(--color-score)
}
.points {
    display: block;
    color:var(--color-points);
    font-size: 48px;
    line-height: 42px;


}