:root {
    --color-main: #ffff;
    --color-points:hsl(229, 25%, 31%);
    --color-score:hsl(229, 64%, 46%);
    --color-border:hsl(217, 16%, 45%);
    --color-scissors: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
    --color-paper: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
    --color-rock: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    background:radial-gradient(at top, hsl(214, 47%, 23%),hsl(237, 49%, 15%));
    padding: 48px;
}
header {
border: solid 2px var(--color-border);
border-radius: 5px;
max-width: 600px;
margin: 48px auto;
padding: 12px 24px 12px 24px;
display: flex;
justify-content: space-between;
align-items: center;
}

h1 span {
    display: block;
    color: var(--color-main);
    line-height: 24px;

}
.score {
    background: var(--color-main);
    padding: 12px 42px;
    border-radius: 5px;
}

.score span {
    color: var(--color-score)
}
.points {
    display: block;
    color:var(--color-points);
    font-size: 54px;
    line-height: 42px;
}
main {
    margin: 0 auto;
    max-width: 600px;
    padding: 160px 0;

}
.options{
    aspect-ratio: 313 / 270;
    background-image:url("./images/bg-triangle.svg");
    background-size: cover;
    margin: 0 auto;
    width: 50%;
    position: relative;
}
.options .button {
    width: 50%;
    position:absolute;
}
.button {
    align-items: center;
    justify-content: center;    
    aspect-ratio: 1 /1;
    position: absolute;
    border-radius: 50%;
    border: none;
    display: flex;

}
.button img {
    width: 50%;
}
.button__img-container {
    background-color: var(--color-main);
    height: 80%;
    width: 80%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.button--paper {

    left:0;
    top:0;
    transform: translate(-50%,-50%);
    background: linear-gradient(var(--color-paper));
}
.button--scissors {
    right:0;
    top:0;
    transform:translate(50%,-50%);
    background: linear-gradient(var(--color-scissors));
}
.button--rock {
    bottom:0;
    left:50%;
    transform: translate(-50%, 50%);
    background: linear-gradient(var(--color-rock));
}
